* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Commissioner", sans-serif;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  padding: 2%;
}

.nav-list-item {
  display: flex;
}

.google-menu {
  width: 60%;
}

.menu-icon {
  width: 5%;
}

.w-6 {
  width: 100%;
}

.menu-text {
  padding: 1%;
  font-size: 0.5rem;
}

.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
}
.title {
  text-align: center;
  font-size: 2.5rem;
  padding-bottom: 1rem;
  letter-spacing: -0.3rem;
}

.blue {
  color: rgb(23, 107, 239);
}
.red {
  color: rgb(255, 62, 48);
}

.yellow {
  color: rgb(247, 181, 41);
}

.green {
  color: rgb(23, 156, 82);
}

.search-container {
  width: 70%;
  border-radius: 3%;
}

.form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container {
  width: 50%;
  display: flex;
  /* border: 1px solid green; */
  justify-content: center;
}

.button {
  font-size: 0.5rem;
  background-color: rgb(245, 245, 245);
  border: none;
  padding: 5px;
  margin-right: 5px;
  margin-top: 10px;
  color: rgb(96, 96, 96);
}

.subtitle {
  text-align: center;
  font-size: 0.3rem;
  margin-top: 10px;
}

.link {
  text-decoration: none;
}

.footer {
  background-color: rgb(245, 245, 245);
  font-size: 0.3rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: rgb(96, 96, 96);
}

.country {
  padding: 5px 10px;
  border-bottom: 1px solid rgb(232, 232, 232);
}
.footer-nav-container {
  display: flex;
  justify-content: center;
  padding: 3px;
}

.footer-nav-list {
  display: flex;
  list-style: none;
  font-size: 0.1rem;
  margin-right: 20px;
}

.footer-nav-list-2 {
  display: flex;
  list-style: none;
  font-size: 0.1rem;
}

.footer-nav-list-item {
  padding: 2px;
}

@media all and (min-width: 768px) {
  .menu-text {
    font-size: 0.8rem;
  }

  .title {
    font-size: 4rem;
    padding-bottom: 1rem;
    letter-spacing: -0.3rem;
  }

  .search {
    width: 70%;
    height: 2rem;
  }
  .button {
    font-size: 0.7rem;
    padding: 8px;
    margin-right: 8px;
    margin-top: 25px;
  }

  .subtitle {
    text-align: center;
    font-size: 0.7rem;
    margin-top: 20px;
  }

  .footer {
    font-size: 0.7rem;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .country {
    padding: 15px 20px;
  }
  .footer-nav-container {
    display: flex;
    justify-content: center;
    padding: 3px;
  }

  .footer-nav-list {
    display: flex;
    list-style: none;
    font-size: 0.7rem;
    margin-right: 20px;
  }

  .footer-nav-list-2 {
    display: flex;
    list-style: none;
    font-size: 0.7rem;
  }

  .footer-nav-list-item {
    padding: 10px;
  }
}

@media all and (min-width: 1200px) {
  .nav-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    padding: 0.5%;
  }

  .menu-icon {
    width: 3%;
  }

  .title {
    font-size: 5rem;
  }

  .search {
    width: 50%;
    height: 1.8rem;
  }

  .button {
    font-size: 0.8rem;
  }

  .subtitle {
    font-size: 0.8rem;
    margin-top: 20px;
  }

  .footer {
    font-size: 0.9rem;
  }

  .footer-nav-container {
    justify-content: space-between;
  }

  .footer-nav-list {
    padding-left: 10px;
    font-size: 0.8rem;
  }

  .footer-nav-list-2 {
    padding-right: 10px;
    font-size: 0.8rem;
  }
}
